#map {
    height: 600px; /* Asegura que el contenedor del mapa ocupe todo el espacio disponible */
    width: 700px;
    margin:auto;
    overflow: hidden;
  }
  
  @media only screen and (max-width: 600px) {
    #map {
      width: 100%;
    }
  }