.weather-fact {
    background-color: #fff;
    padding: 15px;
    margin: 20px auto;
    display: grid;
    place-items: center;
    width: 38rem;
    text-align: center;
  
    .title-details {
      margin: 0 0 10px;
      color: #333;
      font-size: 1.5em;
      font-family: "Oswald", sans-serif;
      font-weight: 500;
    }
  
    p {
      margin: 0;
      color: #333;
      font-size: 20px;
    }
    .fact-p {
      font-style: italic;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .weather-fact {
      width: 100vw;
    }
  }